$('.question-errors').html("<%= render 'shared/errors', resource: question %>")

<% if question.errors.empty? %>
  $('.question').html("<h1><%= question.title %></h1><p><%= question.body %></p>")
  $('.question').append('<%= j render partial: 'file', collection: question.files %>');
  $('.question').append('<%= j render partial: 'link', collection: question.links %>');
  $('#edit-question-form').addClass('hidden')
  $('.edit-question-link').show()
<% end %>
